---
import TitleWithCrumb from "../../layout/TitleWithCrumb.astro";
import DescriptionSection from "../../layout/DescriptionSection.astro";
---

<div class="flex flex-col md:flex-row">
  <div class="flex flex-col gap-y-4 w-full md:w-1/2">
    <div class="w-3/5 flex flex-col gap-y-4">
       <TitleWithCrumb sectionName="About Us" title="Capture Your Unforgettable Moments" />
    </div>
  </div>
  <div
    class="flex flex-col w-full md:w-1/2 justify-center gap-y-5 md:px-13 py-6"
  >
  <DescriptionSection text={`Turn every second into a timeless memory. From breathtaking landscapes to intimate celebrations, this is where your stories become legends. Let the perfect backdrop elevate your experience—your next chapter deserves to be unforgettable.`} />
  </div>
</div>