---
import AboutHeader from "./AboutHeader.astro";
import CustomerReview from "./CustomerReview.astro";
import ServicesSwiper from "./ServicesSwiper.astro";
import VideoHighlight from "./VideoHighlight.astro";
---

<div class="p-6 md:p-10">
  <section class="flex flex-col gap-y-7 relative w-full bg-[#fdfdfd]">
    <AboutHeader />

    <div class="flex flex-wrap md:flex-row gap-y-7">
      <CustomerReview />
      <ServicesSwiper />
      <VideoHighlight />
    </div>
  </section>
</div>
