---
---

<div class="w-full flex-1 rounded-xl relative hidden xl:block overflow-hidden">
  <img
    src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg"
    alt="Travel destination"
    class="absolute inset-0 w-full h-full object-cover rounded-xl"
  />
  <div class="absolute inset-0 bg-black/40 rounded-xl"></div>
  <div
    class="relative z-10 flex flex-col items-left justify-end h-full text-left text-white p-6 gap-y-5"
  >
    <h3 class="text-xl 2xl:text-2xl mb-2 font-semibold">
      Lorem ipsum dolor sit amet consectetur <br>
      adipisicing elit. Eaque, excepturi.
    </h3>
    <a
      href="#"
      class="w-40 text-center text-lg text-black px-4 py-2 font-semibold bg-white rounded-full hover:bg-gray-100 hover:shadow-lg transition-all duration-300 cursor-pointer"
      >Book Now</a
    >
  </div>
</div>
