---
import "swiper/css";
import "swiper/css/pagination";
import DestinationCard from "./DestinationCard.astro";

const destinations = [
  {
    image: "https://images.pexels.com/photos/1569012/pexels-photo-1569012.jpeg",
    title: "Chicago",
    location: "Chicago, Estados Unidos"
  },
  {
    image: "https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg",
    title: "New York",
    location: "New York, Estados Unidos"
  },
  {
    image: "https://images.pexels.com/photos/2082103/pexels-photo-2082103.jpeg",
    title: "Paris",
    location: "Paris, Francia"
  },
  {
    image: "https://images.pexels.com/photos/2187456/pexels-photo-2187456.jpeg",
    title: "Tokyo",
    location: "Tokyo, Japón"
  },
   {
    image: "https://images.pexels.com/photos/604661/pexels-photo-604661.jpeg",
    title: "CDMX",
    location: "CDMX, México"
  }
];
---

<div class="swiper destination-swiper overflow-hidden">
  <div class="swiper-wrapper">
    {destinations.map((destination) => (
      <div class="swiper-slide w-80">
        <DestinationCard 
          image={destination.image}
          title={destination.title}
          location={destination.location}
        />
      </div>
    ))}
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper';
  import { Pagination, Autoplay } from 'swiper/modules'

  new Swiper('.destination-swiper', {
    modules: [Pagination, Autoplay],
    slidesPerView: 'auto',
    spaceBetween: 24,
    centeredSlides: false,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 4,
      },
    },
  });
</script>