---
import { Icon } from "astro-icon/components";
import TitleWithCrumb from "../../layout/TitleWithCrumb.astro";
import DescriptionSection from "../../layout/DescriptionSection.astro";
---

<div class="flex flex-col md:flex-row">
  <div class="flex flex-col gap-y-4 w-full md:w-1/2">
    <TitleWithCrumb
      sectionName="Our Destination"
      title="Your next favorite\nplace awaits"
    />
  </div>
  <div
    class="flex flex-col w-full md:w-1/2 justify-center gap-y-5 md:px-13 py-6"
  >

    <DescriptionSection
      text={`Your next favorite place awaits. Discover a spot that feels made just for you—where comfort meets charm and every moment feels like a retreat. Your perfect escape is here.`}
    />

    <a
      href="#"
      class="flex flex-row items-center justify-between px-5 py-3 bg-black shadow rounded-full w-46 hover:opacity-90"
    >
      <p class="text-md text-white">See all</p>
      <div class="flex flex-row">
        <Icon
          name="material-symbols:arrow-forward-ios-rounded"
          class="w-4 h-4 text-white"
        />
        <Icon
          name="material-symbols:arrow-forward-ios-rounded"
          class="w-4 h-4 text-white"
        />
        <Icon
          name="material-symbols:arrow-forward-ios-rounded"
          class="w-4 h-4 text-white"
        />
      </div>
    </a>
  </div>
</div>
