---
import DestinationSwiper from "./DestinationSwiper.astro";
import DestinationHeader from "./DestinationHeader.astro";
---

<div class="p-6 md:p-10">
  <section class="flex flex-col gap-y-7 relative w-full bg-[#fdfdfd]">
    <DestinationHeader />
    <div class="overflow-hidden">
      <DestinationSwiper />
    </div>
  </section>
</div>
