---
import { Icon } from "astro-icon/components";
import NavLink from "./NavLink.astro";
---

<nav
  id="navbar"
  class="fixed mx-2 md:mx-0 top-2 xl:top-3 left-0 right-0 z-50"
>
  <div
    class="max-w-full rounded-4xl md:max-w-4xl md:rounded-4xl bg-blue-800 flex flex-wrap items-center justify-between mx-auto p-2 md:p-4 shadow-2xl"
  >
    <a href="/" class="flex items-center gap-x-2">
      <Icon id="navbar-icon" name="material-symbols:travel" class="text-4xl bg-white rounded-full text-blue-800 m-0 transition-colors duration-300" />
      <span
        id="navbar-brand"
        class="self-center text-xl md:text-2xl font-semibold whitespace-nowrap text-white transition-colors duration-300"
        >Astro Travel</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-menu"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-white/20"
      aria-controls="navbar-menu"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto pr-10" id="navbar-menu">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-white/10 rounded-lg bg-black/50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent backdrop-blur-sm"
      >
        <NavLink href="#" text="Home" isActive={true} />
        <NavLink href="#" text="Tours" />
        <NavLink href="#" text="Promotions" />
        <NavLink href="#" text="About" />
        <NavLink href="#" text="Blog" />
      </ul>
    </div>
  </div>
</nav>
