---
import FooterHero from "./FooterHero.astro";
import FooterNavigation from "./FooterNavigation.astro";
import FooterBottom from "./FooterBottom.astro";
---

<section class="flex flex-col mt-12 gap-y-8 lg:gap-y-10 relative w-full bg-[#1a1a1a] px-4 md:px-8 lg:px-20 py-6 md:py-8">
  <FooterHero />
  <FooterNavigation />
  <FooterBottom />
</section>
