---
import TitleWithCrumb from "../../layout/TitleWithCrumb.astro";
import DescriptionSection from "../../layout/DescriptionSection.astro";
---

<div class="flex flex-col md:flex-row w-full lg:w-2/6">
  <div class="flex flex-col gap-y-4 w-full">
    <TitleWithCrumb sectionName="Our Activities" title="Discover Unique Accomodations" />
    <DescriptionSection text="Go beyond a simple stay. Discover one-of-a-kind homes and unique spaces that transform your trip into an unforgettable story." />
  </div>
</div>
