---
export interface Props {
  image: string;
  title: string;
  countActivities: string;
}

const { image, title, countActivities } = Astro.props;
---

<div class="bg-white rounded-xl">
  <div class="relative h-36 sm:h-64 lg:h-56">
    <a href="#">
      <img
        src={image}
        alt={title}
        class="w-full h-full object-cover rounded-md opacity-100 transition-opacity hover:opacity-80"
      />
    </a>
  </div>
  <div class="p-4">
    <a href="#">
      <h3 class="text-md md:text-xl font-semibold">{title}</h3>
    </a>
    <p class="text-gray-600 text-sm">{countActivities} Accomodations</p>
  </div>
</div>
