---
import AccommodationsHeader from "./AccommodationsHeader.astro"
import AccommodationsSwiper from "./AccommodationsSwiper.astro"
---

<div class="p-6 md:p-10">
  <section class="flex flex-col lg:flex-row items-center gap-y-8 gap-x-7 relative w-full bg-[#fdfdfd]">
    <AccommodationsHeader />
    <AccommodationsSwiper />
  </section>
</div>